.Header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    border-color: var(--neon-green) !important;
    border-bottom: 3px solid var(--neon-green);
    padding: 8px;
    margin-bottom: 8px;
    z-index: 30;
}

h1 {
    font-family: 'Press Start 2P', system-ui;
    font-size: 24px;
    color: var(--neon-green);
}

.Header svg {
    cursor: pointer;
    color: var(--neon-green);
}

.Header svg:hover {
    color: var(--neon-greenGlow);
}

.HeaderDropDown {
    position: absolute;
    background-color: black;
    top: 60px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-items: end;
}

.HeaderDropDown-List {
    list-style-type: none;
}

.HeaderDropDown li {
    text-align: right;
    margin-bottom: 0px;
    padding: 12px;    
}